html, body { 
	height: 100vh;
	overflow: hidden;
	margin: 0;
}

.wall {
	margin: 0 auto;
	padding-top: 5vh;
	background: url("../images/brick_wall.jpg") top center;
	background-size: cover;
	height: 100vh;
}

.game_field {
	margin: 0 5vw;
	background: url("../images/background.png") top center;
	background-size: cover;
	height: 95vh;
}

.platform {

}